
RPC_URL=https://rpc.ankr.com/bsc,https://bsc-dataseed.binance.org,https://bsc-dataseed1.binance.org


#chrome0 测试3 对应的predict 导出的sy
PRIVY_PRIVATE_KEY=xxx
#导出的地址
#PREDICT_ACCOUNT=xxx
#predict.fun deposit的地址
PREDICT_ACCOUNT=xxxx

PREDICT_API_KEY=xxxx

# 每分钟查询
MIN_INTERVAL_SECONDS=60
# 无新增时每5分钟推送一次
NORMAL_PUSH_INTERVAL_SECONDS=300
#DINGTALK_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=1111
DING_ACCESS_TOKEN=111
DING_SECRET=1111

# token缓存失效时间
JWT_CACHE_TTL_SECONDS
